<h1><%= t('users.catalog') %></h1>
<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>

<table>
  <tr>
    <th><%= t('name') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
   <% if session[:user_id] == user.id %>
      <tr>
        <td><%= user.name %></td>
        <td><%= link_to t('show'), user %></td>
        <td><%= link_to t('edit'), edit_user_path(user) %></td>
        <% if session[:admin] %>
          <td><%= link_to t('destroy'), user, confirm: t('confirm'), method: :delete %></td>
        <% end %>
      </tr>
   <% end %>
<% end %>
</table>

<br />
<% if session[:admin]  %>
<%= link_to t('users.new.new_user'), new_user_path %>
<% end %>
