<p id="notice"><%= notice %></p>

<p>
  <b><%= t('drinks.title') %></b>
  <%= @ingredient.title %>
</p>

<p>
  <b><%= t('drinks.price') %></b>
  <%= @ingredient.price %>
</p>

<p>
  <b><%= t('drinks.amount') %></b>
  <%= @ingredient.amount %>
</p>


<%= link_to t('edit'), edit_ingredient_path(@ingredient) %> |
<%= link_to t('back'), ingredients_path %>
