<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1><%= t('drinks.catalog')%></h1>

<% @products.each do |product| %>
	<div class="entry">
		<%= link_to image_submit_tag(product.image_url, :class => 'list_image'),
                line_items_path(:product_id => product),
                :method => :post, :remote => true %>
		<h3><%= product.title %></h3>
		<%= sanitize(product.description) %>
    <h4><%= t('drinks.add_ingredient')%>
    <%= select_tag 'ingredient',
                    options_from_collection_for_select(@ingredients, 'id', 'title' )
                     %>
    </h4>
		<div class="price_line">
			<span class="price"><%= number_to_currency(product.price) %></span>
      <% if session[:user_id] || session[:admin] and unless session[:user_id].nil? %>
			    <%= button_to t('drinks.add_to_cart'),
                        line_items_path(:product_id => product, :user_id => @user.id) %>
      <% end
         end %>

		</div>
	</div>
<% end %>
